<div class="row">
    <div class="col-md-8 offset-md-2"> 
        <h2 class="mb-4"> Produtos</h2>
        <div class="card shadow p-4">
        <form ng-submit="cadastrar()" class="row g-3">
            <div class="col-md-6">
                <label class="form-label">Descrição</label>
                <input type="text" class="form-control" ng-model="novoProduto.descricao" placeholder="Nome do produto">
            </div>
            <div class="col-md-6">
                <label class="form-label">Preço </label>
                <input type="text" class="form-control" ng-model="novoProduto.preco" placeholder="Preço">
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
        </form>
        </div>

        <div class="mt-4">
            <h3>Lista de Produtos</h3>
            <table class="table table-bordered table-hover mt-2">
                <thead class="table-light">
                    <tr>
                        <th>Descrição</th>
                        <th>Preço</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="produto in produtos">
                        <td>{{ produto.descricao }}</td>
                        <td>{{ produto.endereco }}</td>
                        <td><button class="btn btn-danger btn-sm" ng-click="excluir($index)">Excluir</button></td>
                    </tr>
                </tbody>
        </table>
        </div>
    </div>
</div>